In [1]:
import os
os.getcwd()

'/Users/happyeon/Desktop/data_science/play_data'

클래스

In [2]:
class urus:
    def __init__(self,color,wheel):
        self.color = color
        self.wheel = wheel
        self.speed = 0
    
    def get_color(self):
        return self.color
    
    def get_wheel(self):
        return self.wheel

    def __len__(self):
        return 10
    
    def accelerator(self):
        self.speed += 10
    
    def get_speed(self):
        return self.speed

In [3]:
temp = urus("yellow",20)

In [4]:
temp.get_color()

'yellow'

In [5]:
temp.get_wheel()

20

In [6]:
len(temp)

10

In [7]:
dir(temp)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'accelerator',
 'color',
 'get_color',
 'get_speed',
 'get_wheel',
 'speed',
 'wheel']

In [8]:
a = [1,2,3]

Python은 객체지향
리스트를 예로 들면 for 사용시 iter 내부 메서드가 동작하는 것이고 len 사용시 len 내부 메서드가 동작

In [9]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
class Node:

    def __init__(self,data=None,next_=None):
        self.data = data
        self.next = next_

Linked List

In [11]:
class LinkedList:
    def __init__(self):
        self.no = 0 # 노드의 개수 
        self.head = None # Head
        self.current = None # 현재 노드 
        
    def __len__(self):
        return self.no
    
    def add_first(self, data):
        ptr = self.head
        self.head = Node(data,ptr)
        self.current = Node(data,ptr)
        self.no += 1
    
    def add_last(self,data):
        if self.head is None:
            self.add_first(data)
        else:
            ptr = self.head
            while ptr.next is not None:
                ptr = ptr.next
            ptr.next = self.current = Node(data,None)
            self.no += 1
    
    def print(self):
        ptr = self.head 
        while ptr is not None:
            print(ptr.data)
            ptr = ptr.next
    
    def search(self, data):
        cnt = 0 
        ptr = self.head 
        while ptr is not None:
            if ptr.data == data:
                self.current = ptr
                return cnt 
            cnt += 1 
            ptr = ptr.next 
            
        return -1

    def __contains__(self,data):
        return self.search(data) > -1
    
    def __str__(self):
        return "노래는 역시 아이유"
    
    # Head Delete
    def remove_first(self):
        if self.head is not None:
            self.head = self.current = self.head.next
        self.no -= 1

    def remove_last(self):
        if self.head is not None:
            if self.head.next is None:
                self.remove_first()
            else:
                ptr = self.head 
                pre = self.head 
                
                while ptr.next is not None:
                    pre = ptr
                    ptr = ptr.next
                pre.next = None
                self.current = pre 
                self.no -= 1

In [12]:
lst = LinkedList()
lst.add_first("엔코아")
lst.add_first("플레이데이터")
lst.add_last("이정연")

In [13]:
lst.print()

플레이데이터
엔코아
이정연

In [14]:
lst.search("이정연")

2

In [15]:
'플레이데이터' in lst

True

In [16]:
lst.remove_first()

In [17]:
lst.print()

엔코아
이정연

In [18]:
lst.remove_last()

In [19]:
lst.print()

엔코아

통계의 기초

In [20]:
import numpy as np
import pandas as pd

# Jupyter Notebook의 출력을 소수점 이하 3자리로 제한
%precision 3


df = pd.read_csv('./data/ch2_scores_em.csv', index_col='student number')
# df의 처음 5행을 표시
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [23]:
df['english'].head()

student number
1    42
2    69
3    56
4    41
5    57
Name: english, dtype: int64

In [24]:
scores = np.array(df['english'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [25]:
scores_df = pd.DataFrame({'score':scores},
                         index=pd.Index(['A', 'B', 'C', 'D', 'E',
                                         'F', 'G', 'H', 'I', 'J'],
                                        name='student'))
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [26]:
np.mean(scores)

55.0

In [27]:
scores_df.mean()

score    55.0
dtype: float64

In [28]:
np.median(scores)

56.5

In [29]:
scores_df.median()

score    56.5
dtype: float64

In [33]:
help(np.var) # ddof = 0

Help on function var in module numpy:

var(a, axis=None, dtype=None, out=None, ddof=0, keepdims=<no value>, *, where=<no value>)
    Compute the variance along the specified axis.

    Returns the variance of the array elements, a measure of the spread of a
    distribution.  The variance is computed for the flattened array by
    default, otherwise over the specified axis.

    Parameters
    ----------
    a : array_like
        Array containing numbers whose variance is desired.  If `a` is not an
        array, a conversion is attempted.
    axis : None or int or tuple of ints, optional
        Axis or axes along which the variance is computed.  The default is to
        compute the variance of the flattened array.

        .. versionadded:: 1.7.0

        If this is a tuple of ints, a variance is performed over multiple axes,
        instead of a single axis or all the axes as before.
    dtype : data-type, optional
        Type to use in computing the variance.  For arrays of integer type
        the default is `float64`; for arrays of float types it is the same as
        the array type.
    out : ndarray, optional
        Alternate output array in which to place the result.  It must have
        the same shape as the expected output, but the type is cast if
        necessary.
    ddof : int, optional
        "Delta Degrees of Freedom": the divisor used in the calculation is
        ``N - ddof``, where ``N`` represents the number of elements. By
        default `ddof` is zero.
    keepdims : bool, optional
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

        If the default value is passed, then `keepdims` will not be
        passed through to the `var` method of sub-classes of
        `ndarray`, however any non-default value will be.  If the
        sub-class' method does not implement `keepdims` any
        exceptions will be raised.

    where : array_like of bool, optional
        Elements to include in the variance. See `~numpy.ufunc.reduce` for
        details.

        .. versionadded:: 1.20.0

    Returns
    -------
    variance : ndarray, see dtype parameter above
        If ``out=None``, returns a new array containing the variance;
        otherwise, a reference to the output array is returned.

    See Also
    --------
    std, mean, nanmean, nanstd, nanvar
    :ref:`ufuncs-output-type`

    Notes
    -----
    The variance is the average of the squared deviations from the mean,
    i.e.,  ``var = mean(x)``, where ``x = abs(a - a.mean())**2``.

    The mean is typically calculated as ``x.sum() / N``, where ``N = len(x)``.
    If, however, `ddof` is specified, the divisor ``N - ddof`` is used
    instead.  In standard statistical practice, ``ddof=1`` provides an
    unbiased estimator of the variance of a hypothetical infinite population.
    ``ddof=0`` provides a maximum likelihood estimate of the variance for
    normally distributed variables.

    Note that for complex numbers, the absolute value is taken before
    squaring, so that the result is always real and nonnegative.

    For floating-point input, the variance is computed using the same
    precision the input has.  Depending on the input data, this can cause
    the results to be inaccurate, especially for `float32` (see example
    below).  Specifying a higher-accuracy accumulator using the ``dtype``
    keyword can alleviate this issue.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> np.var(a)
    1.25
    >>> np.var(a, axis=0)
    array([1.,  1.])
    >>> np.var(a, axis=1)
    array([0.25,  0.25])

    In single precision, var() can be inaccurate:

    >>> a = np.zeros((2, 512*512), dtype=np.float32)
    >>> a[0, :] = 1.0
    >>> a[1, :] = 0.1
    >>> np.var(a)
    0.20250003

    Computing the variance in float64 is more accurate:

    >>> np.var(a, dtype=np.float64)
    0.20249999932944759 # may vary
    >>> ((1-0.55)**2 + (0.1-0.55)**2)/2
    0.2025

    Specifying a where argument:

    >>> a = np.array([[14, 8, 11, 10], [7, 9, 10, 11], [10, 15, 5, 10]])
    >>> np.var(a)
    6.833333333333333 # may vary
    >>> np.var(a, where=[[True], [True], [False]])
    4.0

In [34]:
help(pd.DataFrame.var) # ddof=1

Help on function var in module pandas.core.generic:

var(self, axis=None, skipna=True, level=None, ddof=1, numeric_only=None, **kwargs)
    Return unbiased variance over requested axis.

    Normalized by N-1 by default. This can be changed using the ddof argument.

    Parameters
    ----------
    axis : {index (0), columns (1)}
    skipna : bool, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series.
    ddof : int, default 1
        Delta Degrees of Freedom. The divisor used in calculations is N - ddof,
        where N represents the number of elements.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.

    Returns
    -------
    Series or DataFrame (if level specified)

    Examples
    --------
    >>> df = pd.DataFrame({'person_id': [0, 1, 2, 3],
    ...                   'age': [21, 25, 62, 43],
    ...                   'height': [1.61, 1.87, 1.49, 2.01]}
    ...                  ).set_index('person_id')
    >>> df
               age  height
    person_id
    0           21    1.61
    1           25    1.87
    2           62    1.49
    3           43    2.01

    >>> df.var()
    age       352.916667
    height      0.056367

    Alternatively, ``ddof=0`` can be set to normalize by N instead of N-1:

    >>> df.var(ddof=0)
    age       264.687500
    height      0.042275

In [35]:
pd.Series(scores).describe()

count    10.000000
mean     55.000000
std       9.775252
min      41.000000
25%      48.250000
50%      56.500000
75%      63.250000
max      69.000000
dtype: float64

KBO

In [36]:
import pickle

with open("./data/kbo_player.pkl","rb") as f:
    data = pickle.load(f)

In [37]:
kbo = pd.DataFrame(data)

In [40]:
kbo.head()

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG 랜더스
1,고명준,No.6,2002년 07월 08일,내야수(우투우타),185cm/94kg,서원초-세광중-세광고-SK,9000만원,3000만원,21 SK 2차 2라운드 18순위,21SK,SSG 랜더스
2,고효준,No.65,1983년 02월 08일,투수(좌투좌타),179cm/81kg,서원초-세광중-세광고-롯데-SK-KIA-롯데-LG,11000만원,4000만원,02 롯데 2차 1라운드 6순위,02롯데,SSG 랜더스
3,김강민,No.0,1982년 09월 13일,외야수(우투우타),182cm/87kg,본리초-대구중-경북고-SK,11000만원,16000만원,01 SK 2차 2라운드 18순위,01SK,SSG 랜더스
4,김건우,No.59,2002년 07월 12일,투수(좌투좌타),185cm/88kg,가현초(인천서구리틀)-동산중-제물포고-SK,20000만원,3100만원,21 SK 1차,21SK,SSG 랜더스

In [41]:
kbo.value_counts('Team')

Team
LG 트윈스      89
두산 베어스      88
KIA 타이거즈    84
KT 위즈       83
NC 다이노스     83
한화 이글스      83
SSG 랜더스     82
삼성 라이온즈     80
롯데 자이언츠     78
키움 히어로즈     62
고양 히어로즈     17
dtype: int64

In [44]:
kbo.loc[kbo['Team'] == '고양 히어로즈','Team'] = '키움 히어로즈'

In [45]:
kbo.value_counts('Team')

Team
LG 트윈스      89
두산 베어스      88
KIA 타이거즈    84
KT 위즈       83
NC 다이노스     83
한화 이글스      83
SSG 랜더스     82
삼성 라이온즈     80
키움 히어로즈     79
롯데 자이언츠     78
dtype: int64

In [47]:
kbo.isnull().sum()

선수명       0
등번호       0
생년월일      0
포지션       0
신장/체중     0
경력        0
입단 계약금    0
연봉        0
지명순위      0
입단년도      0
Team      0
dtype: int64

In [ ]:
def get_exchange(date_,currency,type_):
    """
    date_: 날짜, 날짜는 yyyy-mm-dd 형식으로 입력
    currency: 화폐 코드
    type_ : 0 살 때, 1 팔 때
    """
    pass