### 쥬피터와 SQL 연결

In [ ]:
print(1)

:

In [ ]:
%load_ext sql

:

In [ ]:
%sql mysql://root:1234@127.0.0.1:4000/classicmodels

:

In [ ]:
%%sql
CREATE VIEW cancel_prodno
AS
SELECT * 
FROM ORDERS
WHERE status = 'Cancelled'

:

In [ ]:
%sql show tables

:

In [ ]:
%sql desc orders

:

### 일별 매출액

In [ ]:
%%sql
SELECT orderDate,
SUM(quantityOrdered*priceEach) AS SALES
FROM ORDERS A
LEFT JOIN
ORDERDETAILS B
ON A.ORDERNUMBER = B.ORDERNUMBER
GROUP BY orderDate

:

### 월별 매출액

In [ ]:
%sql select substr('abcde', 2, 3)

:

In [ ]:
%%sql df <<
SELECT substr(a.orderDate, 6, 2) MONTH,SUM((b.`quantityOrdered`*b.`priceEach`)) SALES
FROM orders as a
INNER JOIN orderdetails as b
ON a.`orderNumber` = b.`orderNumber`
GROUP BY MONTH

:

In [ ]:
df

:

### ATV(평균 거래 대금) 구하기

- 전체

In [ ]:
%%sql
SELECT sum(b.quantityOrdered*b.priceEach) / count(a.orderNumber) ATV,
sum(b.quantityOrdered*b.priceEach) SALES,
count(a.orderNumber) ORDERNUM
FROM orders as a
INNER JOIN orderdetails as b
ON a.`orderNumber` = b.`orderNumber`

:

- 연도별

In [ ]:
%%sql
SELECT substr(orderDate, 1, 4) YY  ,
COUNT(DISTINCT(A.orderNumber)) N_PURCHASER,
SUM(quantityOrdered*priceEach) AS SALES,
SUM(quantityOrdered*priceEach) / COUNT(DISTINCT A.customerNumber) ATV
FROM ORDERS A
LEFT JOIN
ORDERDETAILS B
ON A.ORDERNUMBER = B.ORDERNUMBER
GROUP BY YY

:

In [ ]:
%%sql df <<
select * from orders

:

In [ ]:
sql_df = df.DataFrame()
sql_df['year'] = sql_df['orderDate'].apply(lambda x : x.year)
sql_df.groupby(['year'])['customerNumber'].count()

:

: