In [1]:
print(1)

1

In [2]:
0.1+0.2

0.30000000000000004

In [3]:
import requests 
import pandas as pd
url = "https://finance.naver.com/item/sise_day.naver?code=005930&page={}"
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36"}
df=pd.concat([pd.read_html(requests.get(url.format(x), headers=head).text)[0].dropna() for x in range(1,5)])

In [4]:
print(df)

            날짜       종가     전일비       시가       고가       저가         거래량
1   2023.02.13  62900.0   100.0  62900.0  63000.0  62300.0   9702719.0
2   2023.02.10  62800.0   200.0  62600.0  63000.0  62400.0   9382576.0
3   2023.02.09  63000.0   100.0  63000.0  63300.0  62300.0  12164865.0
4   2023.02.08  63100.0  1200.0  62800.0  63300.0  62400.0  12243125.0
5   2023.02.07  61900.0   300.0  61900.0  62500.0  61600.0  14491039.0
9   2023.02.06  61600.0  2200.0  62800.0  63000.0  61600.0  15529356.0
10  2023.02.03  63800.0   300.0  63900.0  64000.0  63000.0  15194598.0
11  2023.02.02  63500.0  1700.0  63200.0  63900.0  62600.0  23285983.0
12  2023.02.01  61800.0   800.0  62600.0  62700.0  61000.0  18570133.0
13  2023.01.31  61000.0  2300.0  63500.0  63700.0  61000.0  29746731.0
1   2023.01.30  63300.0  1300.0  64900.0  64900.0  63100.0  20995234.0
2   2023.01.27  64600.0   700.0  64400.0  65000.0  63900.0  18760182.0
3   2023.01.26  63900.0   500.0  63800.0  63900.0  63300.0  13278277.0
4   2023.01.25  63400.0  1600.0  63500.0  63700.0  63000.0  16822710.0
5   2023.01.20  61800.0   300.0  62100.0  62300.0  61100.0   9646327.0
9   2023.01.19  61500.0  1100.0  60500.0  61500.0  60400.0  12808490.0
10  2023.01.18  60400.0   600.0  60700.0  61000.0  59900.0  11584041.0
11  2023.01.17  61000.0   100.0  61200.0  61500.0  60600.0   9831456.0
12  2023.01.16  61100.0   300.0  61300.0  61600.0  60800.0  10039972.0
13  2023.01.13  60800.0   300.0  60500.0  61200.0  60400.0  12510328.0
1   2023.01.12  60500.0     0.0  61100.0  61200.0  59900.0  16102561.0
2   2023.01.11  60500.0   100.0  61000.0  61200.0  60300.0  12310751.0
3   2023.01.10  60400.0   300.0  60200.0  61100.0  59900.0  14859797.0
4   2023.01.09  60700.0  1700.0  59700.0  60700.0  59600.0  18640107.0
5   2023.01.06  59000.0   800.0  58300.0  59400.0  57900.0  17334989.0
9   2023.01.05  58200.0   400.0  58200.0  58800.0  57600.0  15682826.0
10  2023.01.04  57800.0  2400.0  55700.0  58000.0  55600.0  20188071.0
11  2023.01.03  55400.0   100.0  55400.0  56000.0  54500.0  13547030.0
12  2023.01.02  55500.0   200.0  55500.0  56100.0  55200.0  10031448.0
13  2022.12.29  55300.0  1300.0  56000.0  56200.0  55300.0  11295935.0
1   2022.12.28  56600.0  1500.0  57600.0  57600.0  56400.0  14665410.0
2   2022.12.27  58100.0   200.0  58000.0  58400.0  57900.0  10667027.0
3   2022.12.26  57900.0   200.0  58000.0  58100.0  57700.0   6756411.0
4   2022.12.23  58100.0  1000.0  58200.0  58400.0  57700.0   9829407.0
5   2022.12.22  59100.0  1100.0  58100.0  59100.0  58100.0  10720630.0
9   2022.12.21  58000.0   600.0  58700.0  59100.0  58000.0  10356971.0
10  2022.12.20  58600.0   900.0  59000.0  59100.0  58500.0   9284761.0
11  2022.12.19  59500.0     0.0  59500.0  59900.0  59100.0   7696187.0
12  2022.12.16  59500.0   200.0  58300.0  59500.0  58300.0  13033596.0
13  2022.12.15  59300.0  1200.0  59800.0  60200.0  59300.0   8716039.0

In [5]:
text = "김미영팀장입니다. {}님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다."
print(text.format("엔코아"))
class_a = ["공형조","구자찬","김도현","김동현","김지현","김진만","김창현","김형선","문광식","박규리","박상혁","박정인","박지빈","서보혁","양용준","오준","위정우","이다인","이성민","이정연","이혜규","임재규","임종범","임지훈","임채윤","장진수","장진혁","장희수","정기원","조형식","한정인",]




for name in class_a:
    print(text.format(name))

김미영팀장입니다. 엔코아님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 공형조님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 구자찬님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 김도현님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 김동현님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 김지현님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 김진만님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 김창현님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 김형선님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 문광식님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 박규리님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 박상혁님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 박정인님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 박지빈님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 서보혁님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 양용준님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 오준님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 위정우님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 이다인님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 이성민님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 이정연님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 이혜규님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 임재규님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 임종범님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 임지훈님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 임채윤님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 장진수님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 장진혁님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 장희수님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 정기원님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 조형식님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.
김미영팀장입니다. 한정인님께서는 최저이율로 최고 3000만원 까지 30분 이내 통장입금 가능합니다.

In [6]:
import requests
url = "https://www.starbucks.co.kr/store/getStore.do?r=GKYHQKU7D3"
payload = {"in_biz_cds" : "0",
"in_scodes" : "0",
"ins_lat" : "37.566535",
"ins_lng" : "126.9779692",
"search_text" : "",
"p_sido_cd" : "01",
"p_gugun_cd" : "",
"in_distance" : "0",
"in_biz_cd" : "",
"isError" : "true",
"searchType" : "C",
"set_date" : "",
"all_store" : "0",
"T03" : "0",
"T01" : "0",
"T27" : "0",
"T12" : "0",
"T09" : "0",
"T30" : "0",
"T05" : "0",
"T22" : "0",
"T21" : "0",
"T10" : "0",
"T36" : "0",
"T43" : "0",
"T48" : "0",
"P10" : "0",
"P50" : "0",
"P20" : "0",
"P60" : "0",
"P30" : "0",
"P70" : "0",
"P40" : "0",
"P80" : "0",
"whcroad_yn" : "0",
"P90" : "0",
"new_bool" : "0",
"iend" : "1000",
"rndCod" : "IZVHHSIFWC",}
r =  requests.post(url, data=payload)
star = r.json()['list']

In [7]:
star[0]

{'seq': 0,
 'sido_cd': None,
 'sido_nm': None,
 'gugun_cd': None,
 'gugun_nm': None,
 'code_order': None,
 'view_yn': None,
 'store_num': None,
 'sido': None,
 'gugun': None,
 'address': None,
 'new_img_nm': None,
 'p_pro_seq': 0,
 'p_view_yn': None,
 'p_sido_cd': '',
 'p_gugun_cd': '',
 'p_store_nm': None,
 'p_theme_cd': None,
 'p_wireless_yn': None,
 'p_smoking_yn': None,
 'p_book_yn': None,
 'p_music_yn': None,
 'p_terrace_yn': None,
 'p_table_yn': None,
 'p_takeout_yn': None,
 'p_parking_yn': None,
 'p_dollar_assent': None,
 'p_card_recharge': None,
 'p_subway_yn': None,
 'stb_store_file_renew': None,
 'stb_store_theme_renew': None,
 'stb_store_time_renew': None,
 'stb_store_lsm': None,
 's_code': '1509',
 's_name': '역삼아레나빌딩',
 'tel': '1522-3232',
 'fax': '02-568-3763',
 'sido_code': '01',
 'sido_name': '서울',
 'gugun_code': '0101',
 'gugun_name': '강남구',
 'addr': '서울특별시 강남구 역삼동 721-13 아레나빌딩',
 'park_info': None,
 'new_state': None,
 'theme_state': 'T05@T08@T16@T17@T20@T21@T30@@T52@P80@P90',
 'new_bool': 0,
 'search_text': '',
 'ins_lat': '',
 'ins_lng': '',
 'in_distance': 0,
 'out_distance': '9.27',
 'all_search_cnt': -1,
 'addr_search_cnt': -1,
 'store_search_cnt': -1,
 'rowCount': 30,
 'store_nm': '',
 'store_cd': 0,
 's_biz_code': '3762',
 'new_icon': 'N',
 'set_user': '',
 'favorites': 0,
 'map_desc': None,
 'notice': None,
 'defaultimage': '/upload/store/2020/09/[3762]_20200917031519_6juwr.JPG',
 'etcimage': None,
 'in_biz_cd': None,
 'in_store_cd': None,
 'in_favorites': None,
 'in_user_id': None,
 'in_biz_cds': 0,
 'in_biz_arr': None,
 'in_biz_arrdata': None,
 'in_scodes': 0,
 'in_scode_arr': None,
 'in_scode_arrdata': None,
 'disp': None,
 'set_date': None,
 'hlytag': None,
 'hlytag_msg': None,
 'vSal': '',
 'istart': 1,
 'iend': 60,
 'open_dt': '20190613',
 'gold_card': 0,
 'ip_lat': '',
 'ip_long': '',
 'espresso': '',
 'new_store': '',
 'premiere_food': '',
 'doro_address': '서울특별시 강남구 언주로 425 (역삼동)',
 'cold_blew': '',
 'my_siren_order_store_yn': 'N',
 'whcroad_yn': 'WHCROAD',
 'skuNo': '',
 'skuName': '',
 'skuImgUrl': '',
 'stock_count': 0,
 'store_area_name': None,
 'store_area_code': 'A01',
 'is_open': None,
 'gift_stock_yn': None,
 'lat': '37.501087',
 'lot': '127.043069',
 't20': 0,
 't04': 0,
 't03': 0,
 't01': 0,
 't12': 0,
 't09': 0,
 't06': 0,
 't10': 0,
 'p10': 0,
 'p50': 0,
 'p20': 0,
 'p60': 0,
 'p30': 0,
 'p70': 0,
 'p40': 0,
 'p80': 0,
 't22': 0,
 't21': 0,
 'p90': 0,
 't05': 0,
 't30': 0,
 't36': 0,
 't27': 0,
 't29': 0,
 't43': 0,
 't48': 0}

In [10]:
cnt = 0
for store in star:
    if store['s_name'][-2:] == 'DT':
        print(store['s_name'])
        cnt += 1

방화DT
화곡DT
김포공항DT
신림DT
낙성대DT
구의DT
공릉DT
태릉입구역DT
연희DT
북가좌DT
종암DT
송파나루역DT
송파방이DT
송파마천사거리DT
신정DT
신월IC DT
신월동DT
진관DT
강동구청DT
강동암사DT
구로오류DT

In [11]:
cnt

21

In [12]:
from collections import defaultdict
temp = defaultdict(int)
for store in star:
    temp[store['gugun_name']] += 1
print(temp)

defaultdict(<class 'int'>, {'강남구': 88, '강북구': 6, '강서구': 25, '관악구': 12, '광진구': 19, '금천구': 13, '노원구': 14, '도봉구': 4, '동작구': 11, '마포구': 35, '서대문구': 22, '서초구': 48, '성북구': 15, '송파구': 34, '양천구': 17, '영등포구': 41, '은평구': 11, '종로구': 40, '중구': 55, '강동구': 17, '구로구': 14, '동대문구': 10, '성동구': 15, '용산구': 25, '중랑구': 8})

In [15]:
import datetime
for x in range(100, 1001, 100):
    date_ = datetime.datetime.now() + datetime.timedelta(days=x)
    date_str = str(datetime.datetime.now() + datetime.timedelta(days=x))
    print(date_str.split()[0], date_.weekday())

2023-05-24 2
2023-09-01 4
2023-12-10 6
2024-03-19 1
2024-06-27 3
2024-10-05 5
2025-01-13 0
2025-04-23 2
2025-08-01 4
2025-11-09 6

In [16]:
master = dict(zip(range(0,7), "월화수목금토일"))
for x in range(100, 1001, 100):
    date_ = datetime.datetime.strptime("20230213", "%Y%m%d") + datetime.timedelta(days=x)
    date_str = str(datetime.datetime.now() + datetime.timedelta(days=x))
    print(date_str.split()[0], master[date_.weekday()])

2023-05-24 수
2023-09-01 금
2023-12-10 일
2024-03-19 화
2024-06-27 목
2024-10-05 토
2025-01-13 월
2025-04-23 수
2025-08-01 금
2025-11-09 일

In [22]:
print(list(zip(range(0,7), "월화수목금토일")))

[(0, '월'), (1, '화'), (2, '수'), (3, '목'), (4, '금'), (5, '토'), (6, '일')]