In [18]:
!pip3 install pymysql

Requirement already satisfied: pymysql in /opt/homebrew/lib/python3.11/site-packages (1.0.2)

In [8]:
import pymysql
import tqdm

In [6]:
try:
    con = pymysql.connect(host='127.0.0.1', 
                          user='happyeon', password='123', 
                          charset='utf8', db='play')
    cur = con.cursor()
except Exception as e:
    print ("error ->", e)

In [7]:
cur.execute("""CREATE TABLE `class3` (
	`InvoiceNo` VARCHAR(30), 
 `StockCode` VARCHAR(30),
 `Description` VARCHAR(255),
 `Quantity` INT(3),
 `UnitPrice` FLOAT(5,2),
 	`CustomerID` VARCHAR(30),
 `Country` VARCHAR(45),
 `InvoiceDate` DATE 
)""")

0

In [17]:
sql = "INSERT INTO class3 VALUES(%s, %s, %s,%s,%s,%s,%s,%s)"
with open("./dataset3.csv", "r", encoding='utf-8') as f:
    for idx, line in enumerate(f):
        if idx != 0:
            cur.execute(sql, [x.replace('"', "") for x in line.split(";")])
con.commit()

In [18]:
cur.execute("select count(*) from class3")

1

In [19]:
cur.fetchall()

((39491,),)