In [1]:
import datetime

In [2]:
def print_hi():
    print("hi")

In [3]:
print_hi()

hi

In [4]:
def print_hi():
    print("Today : {}".format(datetime.date.today()))
    print("hi")

In [5]:
print_hi()

Today : 2023-03-22
hi

In [11]:
def mydeco(func):
    # total = 0
    def new_func():
        print("new func -> Today : {}".format(datetime.date.today()))
        func()
    return new_func

In [12]:
ph1 = mydeco(print_hi)

In [13]:
ph1()

new func -> Today : 2023-03-22
Today : 2023-03-22
hi

In [15]:
ph2 = mydeco(lambda : print("엔코아"))

In [16]:
ph2()

new func -> Today : 2023-03-22
엔코아

In [17]:
def mydeco2(func):
    total = 0
    def new_func():
        nonlocal total
        total += 1
        print(f"total {total}번 호출")
        func()
    return new_func

In [18]:
def print_hi2():
    print("Hello Encore")

In [19]:
func1 = mydeco2(print_hi2)
func2 = mydeco2(print_hi2)

In [28]:
func1()

total 8번 호출
Hello Encore

In [29]:
func2()

total 1번 호출
Hello Encore

In [30]:
def deco(func):
    def new_func():
        print("Encore")
        func()
    return new_func

In [37]:
def print_hi3():
    print("Hi Encore3")
print_hi3()

Hi Encore3

In [38]:
@deco
def print_hi3():
    print("Hi Encore3")
print_hi3()

Encore
Hi Encore3

In [41]:
# Make Fibonacci Sequence
def find_fibo_seq(n):
    if n < 2: return n
    return find_fibo_seq(n-1)+find_fibo_seq(n-2)

In [42]:
find_fibo_seq(10)

55

In [44]:
def fib_generator():
    a,b = 0,1
    while True:
        yield b
        a,b = b, a+b

In [46]:
fg = fib_generator()
print(next(fg))

In [62]:
def tmp(*a):
    print(a)

In [64]:
tmp(1)

(1,)

In [65]:
def tmp2(**a):
    print(a)

In [71]:
from functools import wraps

def memo(func):
    cache  = {}

    @wraps(func)
    def wrap(*args):
        if args not in cache:
            cache[args] = func(*args)
        return cache[args]
    return wrap

In [72]:
def fib(n):
    if n < 2: return 1
    else:
        return fib(n-1) + fib(n-2)

In [74]:
@memo
def fib2(n):
    if n < 2:
        return 1
    else:
        return fib2(n-1) + fib2(n-2)

In [77]:
%%time
fib2(35)

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 8.11 µs

14930352

In [78]:
%%time
fib(35)

CPU times: user 2.44 s, sys: 8.78 ms, total: 2.45 s
Wall time: 2.45 s

14930352

In [79]:
import pymysql

try:
    con = pymysql.connect(host='127.0.0.1', user='root', password='1234',  
                          port=4000, db='classicmodels', charset='utf8')
    cur = con.cursor()
except Exception as e:
    print (e)

In [80]:
cur.execute("show tables")

8

In [85]:
sql = "select * from {}"

In [86]:
import pandas as pd
cur.execute("show tables")
for q in cur.fetchall():
    locals()[q[0]] = pd.read_sql_query(sql.format(q[0]),con=con)

/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/Users/happyeon/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [89]:
orders

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,None,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141
...,...,...,...,...,...,...,...
321,10421,2005-05-29,2005-06-06,None,In Process,Custom shipping instructions were sent to ware...,124
322,10422,2005-05-30,2005-06-11,None,In Process,None,157
323,10423,2005-05-30,2005-06-05,None,In Process,None,314
324,10424,2005-05-31,2005-06-08,None,In Process,None,141
325,10425,2005-05-31,2005-06-07,None,In Process,None,119

In [90]:
text = "print('hello world!')"

In [91]:
exec(text)

hello world!

In [93]:
customers['customerNumber']

0      103
1      112
2      114
3      119
4      121
      ...
117    486
118    487
119    489
120    495
121    496
Name: customerNumber, Length: 122, dtype: int64

In [96]:
payments['amount'].sum()

8853839.23

In [99]:
len(payments['checkNumber'])

273

In [106]:
products[['productName','productLine']]

                               productName   productLine
0    1969 Harley Davidson Ultimate Chopper   Motorcycles
1                 1952 Alpine Renault 1300  Classic Cars
2                    1996 Moto Guzzi 1100i   Motorcycles
3     2003 Harley-Davidson Eagle Drag Bike   Motorcycles
4                      1972 Alfa Romeo GTA  Classic Cars
..                                     ...           ...
105                            The Titanic         Ships
106                         The Queen Mary         Ships
107              American Airlines: MD-11S        Planes
108                       Boeing X-32A JSF        Planes
109                             Pont Yacht         Ships

[110 rows x 2 columns]

In [108]:
products.head(1)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.7

In [109]:
products['productCode'].size

110

In [114]:
products.rename(columns={'productCode': 'n_product'},inplace=True)

In [115]:
products

,n_product,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
...,...,...,...,...,...,...,...,...,...
105,S700_3505,The Titanic,Ships,1:700,Carousel DieCast Legends,"Completed model measures 19 1/2 inches long, 9...",1956,51.09,100.17
106,S700_3962,The Queen Mary,Ships,1:700,Welly Diecast Productions,Exact replica. Wood and Metal. Many extras inc...,5088,53.63,99.31
107,S700_4002,American Airlines: MD-11S,Planes,1:700,Second Gear Diecast,Polished finish. Exact replia with official lo...,8820,36.27,74.03
108,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
109,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60

In [125]:
type(orderdetails['priceEach'])

pandas.core.series.Series

In [133]:
temp = pd.Series([0,1,2,3,4])
temp > 0 & temp < 5

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [135]:
orderdetails[(30<=orderdetails['priceEach']) &  (50>=orderdetails['priceEach'])]

      orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
3           10100    S24_3969               49      35.29                1
6           10101    S24_1937               45      32.53                3
7           10101    S24_2022               46      44.35                2
9           10102    S18_1367               41      43.13                1
20          10103    S18_4668               41      40.75                9
...           ...         ...              ...        ...              ...
2969        10421    S24_2022               40      44.80                2
2971        10422    S18_1367               25      47.44                1
2980        10424    S18_4668               26      40.25                4
2987        10425    S18_2432               19      48.62               10
2992        10425    S24_2840               31      31.82                5

[339 rows x 5 columns]

In [138]:
employees

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep

In [143]:
employees[employees['reportsTo'].isnull()]['employeeNumber']

0    1002
Name: employeeNumber, dtype: int64

In [145]:
customers.groupby(['country','city'])['customerNumber'].sum()

country    city
Australia  Chatswood         282
           Glen Waverly      471
           Melbourne         114
           North Sydney      276
           South Brisbane    333
                            ...
USA        San Diego         239
           San Francisco     450
           San Jose          450
           San Rafael        124
           White Plains      319
Name: customerNumber, Length: 96, dtype: int64

In [147]:
customers.head(1)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370.0,21000.0